In [1]:
from init_db import PensumLoaderFactory
from init_db import PensumLoaderFactory

In [2]:
loader = PensumLoaderFactory.get_loader('unicaribe', 'PENSUM-Ingenieria-de-Datos-e-Inteligencia-Organizacional')

In [3]:
df = loader.df
df.head()

,clave,asignatura,credito,pre_req,completo,mes_cursado,nota
0,FGC-101,ORIENTACIÓN ACADÉMICA INSTITUCIONAL,2,,False,NaT,NaN
1,FGC-102,MÉTODO DEL TRABAJO ACADÉMICO,2,,False,NaT,NaN
2,FGC-103,METODOLOGÍA DE LA INVESTIGACIÓN,3,,False,NaT,NaN
3,ADE-101,ADMINISTRACION I,3,,False,NaT,NaN
4,FGC-104,LENGUA ESPAÑOLA I,3,FGC-102,False,NaT,NaN

In [4]:
loader.edit_record('ADMINISTRACION I', '2023-12', 94)

2025-07-18 21:32:40 - INFO - Assigned grade 94 to subject: ADMINISTRACION I

In [7]:
loader.edit_record('FISICA I', '2024-08', 91)
loader.edit_record('ORIENTACION ACADEMICA INSTITUCIONAL', '2023-10', 92)
loader.edit_record('METODO DEL TRABAJO ACADEMICO', '2023-11', 97)
loader.edit_record('LENGUA ESPAÑOLA I', '2024-02', 91)
loader.edit_record('MATEMATICA BASICA I', '2024-06', 98)
loader.edit_record('TECNOLOGIA DE LA INFORMACION Y COMUNICACION I', '2024-03',98 )
loader.edit_record('HISTORIA SOCIAL DOMINICANA', '2024-04',91)
loader.edit_record('INGLES I', '2024-01', 92)
loader.edit_record('FILOSOFIA', '2024-07',93)
loader.edit_record('DESARROLLO SOSTENIBLE Y GESTION DE RIESGOS', '2024-11',93)
loader.edit_record('CIENCIA DE LOS DATOS', '2025-04',97)
loader.edit_record('INTRODUCCION A LA PROGRAMACION', '2025-03',100)
loader.edit_record('SISTEMA OPERATIVO I', '2024-12', 99)
loader.edit_record('REDES INFORMATICAS', '2025-06', 97)
loader.edit_record('INTRODUCCION A LA INGENIERIA', '2024-05', 94)
loader.edit_record('TALLER DE MECANICA DE HARDWARE', '2025-01', 94)
loader.edit_record('TALLER DE BASES DE DATOS I', '2025-05', 97)
loader.edit_record('ESTADISTICA I', '2024-09', 96)
loader.edit_record('QUIMICA I', '2024-10', 93)
loader.edit_record('ETICA EN TECNOLOGIA', '2025-02', 93)

2025-07-18 21:46:15 - WARNING - Multiple matches found for 'FISICA I': ['FISICA I', 'FISICA II']
2025-07-18 21:46:15 - INFO - Assigned grade 91 to subject: FISICA I
2025-07-18 21:46:15 - INFO - Assigned grade 92 to subject: ORIENTACIÓN ACADÉMICA INSTITUCIONAL
2025-07-18 21:46:15 - INFO - Assigned grade 97 to subject: MÉTODO DEL TRABAJO ACADÉMICO
2025-07-18 21:46:15 - INFO - Assigned grade 91 to subject: LENGUA ESPAÑOLA I
2025-07-18 21:46:15 - INFO - Assigned grade 98 to subject: MATEMÁTICA BÁSICA I
2025-07-18 21:46:15 - INFO - Assigned grade 98 to subject: TECNOLOGÍA DE LA INFORMACIÓN Y COMUNICACIÓN I
2025-07-18 21:46:15 - INFO - Assigned grade 91 to subject: HISTORIA SOCIAL DOMINICANA
2025-07-18 21:46:15 - INFO - Assigned grade 92 to subject: INGLÉS I
2025-07-18 21:46:15 - INFO - Assigned grade 93 to subject: FILOSOFÍA
2025-07-18 21:46:15 - INFO - Assigned grade 93 to subject: DESARROLLO SOSTENIBLE Y GESTIÓN DE RIESGOS
2025-07-18 21:46:15 - INFO - Assigned grade 97 to subject: CIENCIA DE LOS DATOS
2025-07-18 21:46:15 - INFO - Assigned grade 100 to subject: INTRODUCCIÓN A LA PROGRAMACIÓN
2025-07-18 21:46:15 - INFO - Assigned grade 99 to subject: SISTEMA OPERATIVO I
2025-07-18 21:46:15 - INFO - Assigned grade 97 to subject: REDES INFORMÁTICAS
2025-07-18 21:46:15 - INFO - Assigned grade 94 to subject: INTRODUCCIÓN A LA INGENIERÍA
2025-07-18 21:46:15 - INFO - Assigned grade 94 to subject: TALLER DE MECÁNICA DE HARDWARE
2025-07-18 21:46:15 - INFO - Assigned grade 97 to subject: TALLER DE BASES DE DATOS I
2025-07-18 21:46:15 - WARNING - Multiple matches found for 'ESTADISTICA I': ['ESTADISTICA I', 'ESTADISTICA II']
2025-07-18 21:46:15 - INFO - Assigned grade 96 to subject: ESTADISTICA I
2025-07-18 21:46:15 - INFO - Assigned grade 93 to subject: QUÍMICA I
2025-07-18 21:46:15 - INFO - Assigned grade 93 to subject: ETICA EN TECNOLOGÍA

In [13]:
df[df['completo'] == True]

Empty DataFrame
Columns: [clave, asignatura, credito, pre_req, completo, mes_cursado, nota, asignatura_limpia]
Index: []

In [15]:
df.dtypes

clave                        object
asignatura                   object
credito                       int64
pre_req                      object
completo                       bool
mes_cursado          datetime64[ns]
nota                        float64
asignatura_limpia            object
dtype: object

In [16]:
print(df['completo'].value_counts())

completo
False    53
Name: count, dtype: int64